.playIcon{
    opacity: 1;
    transition: all 0.5s;
}


#playwrapper:hover .playIcon{
    transition: all 0.5s;
    animation: appearontop 0.15s normal forwards ease-in-out ;
}

#playwrapper:hover .cardp{
   background: aliceblue;
}

// @keyframes appearontop {
//  0%{
//   bottom: 140px;
//   opacity: 0.05;
// }
// 20%{
// bottom: 141px;
// opacity: 0.1;

// }
// 30%{
// bottom: 142px;
// opacity: 0.2;

// }
// 60%{
// bottom: 143px;
// opacity: 0.3;

// }
// 70%{
// bottom: 148px;
// opacity: 0.4;

// }
// 90%{
// bottom: 149px;
// opacity: 0.8;
// }
// 100%{
// bottom: 150px;
// opacity: 1;
// }
// }

.playIcon:hover{
    scale: 1.1;
}